# Supply Parameters

In [5]:
db_path = 'data/kcbible.db'
file_name = '2JOHN'
book_name = '2 John'

# Initial Load and Parse

In [6]:
import docx2txt
from book_builder.book_builder import BookBuilder
import sqlite3


book_txt = docx2txt.process(f"docx_normalized/{file_name}.docx")
lines = [line.strip() for line in book_txt.split('\n\n') if line.strip() != '']
bb = BookBuilder(lines[0])
for line in lines[1:]:
    bb.process(line)
book = bb.build()
print(f"book {book.name} has {len(book.chapters)} chapters with a combined total of {sum([len(c.verses) for c in book.chapters])} verses")

book 2 JOHN has 1 chapters with a combined total of 14 verses

# Validation

In [7]:
def dupe_verse(c,v): return len([v1 for v1 in c.verses if v1.number == v.number]) > 1
def zero_in_verse(v): return v.number == 0

def test(c,v):
    #return dupe_verse(c,v) or zero_in_verse(v)
    return c.number == 12

def validation_errors(b):
    return [f"{c.number}:{v.number} {v.text}" for c in b.chapters for v in c.verses if test(c,v)]

validation_errors(book)

[]

# Write to Database

In [4]:
conn = sqlite3.connect(db_path)
db = conn.cursor()

db.execute('insert into book(name, language) values(?,?)',(book_name,'Kaang Chin'))
book_id = db.lastrowid
conn.commit()

insert_chapter = """
    insert into chapter(number, title, book_id)
    values(?,?,?)
    """

insert_verse = """
    insert into verse(number, title, text, chapter_id)
    values(?,?,?,?)
    """

for c in book.chapters:
    chapter_params = (c.number, c.title if c.title else None, book_id)
    db.execute(insert_chapter, chapter_params)
    chapter_id = db.lastrowid
    verse_params = [(v.number,v.title if v.title else None,v.text,chapter_id) for v in c.verses]
    db.executemany(insert_verse, verse_params)
conn.commit()

conn.close()

In [8]:
def get_numbers(number_string):
    return [int(n) for n in number_string.split()]


get_numbers('25	23	17	25	48	34	29	34	38	42	30	50	58	36	39	28	27	35	30	34	46	46	39	51	46	75	66	20')

[25,
 23,
 17,
 25,
 48,
 34,
 29,
 34,
 38,
 42,
 30,
 50,
 58,
 36,
 39,
 28,
 27,
 35,
 30,
 34,
 46,
 46,
 39,
 51,
 46,
 75,
 66,
 20]